@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #f4f4f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-violet-650: #7026e3;
  --color-violet-550: #8b5cf6;
  --color-zinc-150: #f1f1f3;
  --color-zinc-250: #e2e2e5;
  --color-zinc-350: #bcbcc2;
  --color-zinc-450: #888891;
  --color-zinc-550: #62626a;
  --color-zinc-650: #4b4b52;
  --color-zinc-850: #202024;
}

body {
  background: #000000;
  color: #f4f4f5;
  font-family: var(--font-sans), system-ui, sans-serif;
}
